.app {
  text-align: center;
  font-family: Arial;
  padding: 40px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f3f3f3;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
